<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Your home's comfort and efficiency needs are complex</h2>
            <p>Whether it's air conditioning, heating, indoor air quality, or ventilation<br />
            Scofield Service has the expertise you can count on.  Our technicians have over<br />
            50 years combined experience in the HVAC field.  No matter what unique issues your<br />
            home may present, you can count on Scofield Service to know the right solution for you.</p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-fire major style1"><span class="label">Heat</span></span>
            </li>
            <li><span class="icon fa-home major style2"><span class="label">Home</span></span>
            </li>
            <li><span class="icon fa-snowflake-o major style3"><span class="label">Cool</span></span>
            </li>
        </ul>
    </div>
</section>
